{
  "openapi": "3.1.0",
  "info": {
    "title": "Ecomail API",
    "version": "2.0",
    "description": "Programmatically manage your email marketing — lists, subscribers, campaigns, automations, and more.",
    "contact": {
      "name": "Ecomail",
      "url": "https://ecomail.cz",
      "email": "support@ecomail.cz"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://ecomail.cz/obchodni-podminky/"
    }
  },
  "servers": [
    {
      "url": "https://api2.ecomailapp.cz"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Automations",
      "description": "Trigger automation pipelines and read automation statistics."
    },
    {
      "name": "Campaigns",
      "description": "Create, send, and analyze email campaigns."
    },
    {
      "name": "Discount coupons",
      "description": "Import and delete discount coupons."
    },
    {
      "name": "Domains",
      "description": "Manage sending domains and their verification status."
    },
    {
      "name": "Feeds",
      "description": "Refresh product feed data used for personalization."
    },
    {
      "name": "Lists",
      "description": "Manage subscriber lists and the subscribers within them."
    },
    {
      "name": "Recommenders",
      "description": "Manage product recommendation engines."
    },
    {
      "name": "Search",
      "description": "Search for contacts across your account."
    },
    {
      "name": "Subscribers",
      "description": "Read subscriber profiles, events, and activity logs."
    },
    {
      "name": "Templates",
      "description": "Manage reusable email templates."
    },
    {
      "name": "Tracker events",
      "description": "Send custom tracking events for contacts."
    },
    {
      "name": "Transactional emails",
      "description": "Send transactional messages and read their statistics."
    },
    {
      "name": "Transactions",
      "description": "Record and manage e-commerce transactions."
    },
    {
      "name": "Webhooks",
      "description": "Configure webhook URLs for real-time event delivery."
    }
  ],
  "paths": {
    "/pipelines": {
      "get": {
        "operationId": "automationsListAll",
        "summary": "List all automations",
        "description": "Retrieve all automations in your account.",
        "tags": [
          "Automations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "list_id": {
                        "type": "integer"
                      },
                      "created_at": {
                        "type": "string"
                      },
                      "updated_at": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "name": "Pipeline name",
                    "list_id": 1,
                    "created_at": "2020-09-08 22:04:03",
                    "updated_at": "2021-04-03 20:04:04"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/pipelines/{id}/actions": {
      "get": {
        "operationId": "automationsGetActions",
        "summary": "Get automation actions",
        "description": "Retrieve all actions (nodes) within a given automation.",
        "tags": [
          "Automations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Automation ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "properties": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "template": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "abc-123",
                      "type": "mail",
                      "properties": {
                        "name": "Welcome email",
                        "template": 42
                      }
                    },
                    {
                      "id": "def-456",
                      "type": "wait",
                      "properties": {
                        "days": 3
                      }
                    },
                    {
                      "id": "ghi-789",
                      "type": "tag",
                      "properties": {
                        "tag": "engaged"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pipelines/{id}/actions/{actionId}": {
      "get": {
        "operationId": "automationsGetActionDetail",
        "summary": "Get automation action detail",
        "description": "Retrieve detail of a specific action (node) within a given automation.",
        "tags": [
          "Automations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Automation ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "actionId",
            "in": "path",
            "required": true,
            "description": "Action ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "properties": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "template": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "abc-123",
                    "type": "mail",
                    "properties": {
                      "name": "Welcome email",
                      "template": 42
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Action not found"
                }
              }
            }
          }
        }
      }
    },
    "/pipelines/{pipeline_id}/trigger": {
      "post": {
        "operationId": "automationsTrigger",
        "summary": "Trigger automation",
        "description": "Run a specific automation for the given email/subscriber.",
        "tags": [
          "Automations"
        ],
        "parameters": [
          {
            "name": "pipeline_id",
            "in": "path",
            "required": true,
            "description": "Automation ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Subscriber's email address."
                  }
                },
                "required": [
                  "email"
                ]
              },
              "example": {
                "email": "foo@bar.cz"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "email": "foo@bar.cz"
                }
              }
            }
          }
        }
      }
    },
    "/pipelines/{pipeline_id}/stats": {
      "get": {
        "operationId": "automationsGetStats",
        "summary": "Get automation stats",
        "description": "Retrieve aggregate statistics for a specific automation.",
        "tags": [
          "Automations"
        ],
        "parameters": [
          {
            "name": "pipeline_id",
            "in": "path",
            "required": true,
            "description": "Automation ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stats": {
                      "type": "object",
                      "properties": {
                        "triggered": {
                          "type": "integer"
                        },
                        "ended": {
                          "type": "integer"
                        },
                        "open": {
                          "type": "integer"
                        },
                        "open_rate": {
                          "type": "integer"
                        },
                        "total_open": {
                          "type": "integer"
                        },
                        "not_opened": {
                          "type": "integer"
                        },
                        "send": {
                          "type": "integer"
                        },
                        "click": {
                          "type": "integer"
                        },
                        "total_click": {
                          "type": "integer"
                        },
                        "click_rate": {
                          "type": "integer"
                        },
                        "inject": {
                          "type": "integer"
                        },
                        "soft_bounce": {
                          "type": "integer"
                        },
                        "hard_bounce": {
                          "type": "integer"
                        },
                        "bounce": {
                          "type": "integer"
                        },
                        "bounce_rate": {
                          "type": "integer"
                        },
                        "conversions": {
                          "type": "integer"
                        },
                        "conversions_value": {
                          "type": "integer"
                        },
                        "spam": {
                          "type": "integer"
                        },
                        "unsub": {
                          "type": "integer"
                        },
                        "delivery_rate": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "stats": {
                    "triggered": 1,
                    "ended": 1,
                    "open": 0,
                    "open_rate": 0,
                    "total_open": 0,
                    "not_opened": 2,
                    "send": 2,
                    "click": 1,
                    "total_click": 4,
                    "click_rate": 50,
                    "inject": 2,
                    "soft_bounce": 0,
                    "hard_bounce": 0,
                    "bounce": 0,
                    "bounce_rate": 0,
                    "conversions": 0,
                    "conversions_value": 0,
                    "spam": 0,
                    "unsub": 0,
                    "delivery_rate": 100
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pipelines/{pipeline_id}/stats-detail": {
      "get": {
        "operationId": "automationsGetStatsDetail",
        "summary": "Get automation stats detail",
        "description": "Return statistics for a specific automation with each subscriber and their individual events.",
        "tags": [
          "Automations"
        ],
        "parameters": [
          {
            "name": "pipeline_id",
            "in": "path",
            "required": true,
            "description": "Automation ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": false,
            "description": "Filter by event type. One of: `open`, `send`, `unsub`, `soft_bounce`, `click`, `hard_bounce`, `out_of_band`, `spam`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Filter by subscriber email address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "required": false,
            "description": "Filter from date onwards in `YYYY-MM-DD` format (UTC).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results per page. Default is `100`, maximum is `5000`.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_url": {
                      "type": "string"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "subscribers": {
                      "type": "object",
                      "properties": {
                        "foo@bar.com": {
                          "type": "object",
                          "properties": {
                            "open": {
                              "type": "integer"
                            },
                            "send": {
                              "type": "integer"
                            },
                            "unsub": {
                              "type": "integer"
                            },
                            "soft_bounce": {
                              "type": "integer"
                            },
                            "click": {
                              "type": "integer"
                            },
                            "hard_bounce": {
                              "type": "integer"
                            },
                            "out_of_band": {
                              "type": "integer"
                            },
                            "spam": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "next_page_url": "https://api2.ecomailapp.cz/pipelines/12345/stats-detail?page=2",
                  "total": 2546,
                  "per_page": 100,
                  "subscribers": {
                    "foo@bar.com": {
                      "open": 2,
                      "send": 3,
                      "unsub": 0,
                      "soft_bounce": 0,
                      "click": 0,
                      "hard_bounce": 0,
                      "out_of_band": 0,
                      "spam": 0
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "campaignsListAll",
        "summary": "List all campaigns",
        "description": "Returns all campaigns with pagination and filtering.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filters[title]",
            "in": "query",
            "required": false,
            "description": "Filter by campaign title.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[subject]",
            "in": "query",
            "required": false,
            "description": "Filter by campaign subject.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[status]",
            "in": "query",
            "required": false,
            "description": "Filter by campaign status code.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filters[updated_at]",
            "in": "query",
            "required": false,
            "description": "Filter by updated date (`YYYY-MM-DD`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[date_from]",
            "in": "query",
            "required": false,
            "description": "Filter from date (`YYYY-MM-DD`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[date_to]",
            "in": "query",
            "required": false,
            "description": "Filter to date (`YYYY-MM-DD`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[id]",
            "in": "query",
            "required": false,
            "description": "Filter by campaign ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Column to sort results by. Allowed values: `id`, `sent_at`, `changed_at`, `title`, `status`.",
            "schema": {
              "type": "string",
              "default": "id"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "required": false,
            "description": "Sort direction. Allowed values: `asc`, `desc`.",
            "schema": {
              "type": "string",
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "from_name": {
                        "type": "string"
                      },
                      "from_email": {
                        "type": "string"
                      },
                      "reply_to": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "subject": {
                        "type": "string"
                      },
                      "sent_at": {
                        "type": "string"
                      },
                      "recipients": {
                        "type": "integer"
                      },
                      "status": {
                        "type": "integer"
                      },
                      "scheduled_at": {},
                      "template_id": {
                        "type": "integer"
                      },
                      "archive_url": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "from_name": "From name",
                    "from_email": "from@foo.cz",
                    "reply_to": "reply@bar.cz",
                    "title": "My first campaign",
                    "subject": "First hello",
                    "sent_at": "2014-09-08 22:04:03",
                    "recipients": 1,
                    "status": 3,
                    "scheduled_at": null,
                    "template_id": 62,
                    "archive_url": "https://foo.ecomailapp.cz/campaigns/render/1/randomhashhere"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "operationId": "campaignsAddNew",
        "summary": "Add new campaign",
        "description": "Create a new campaign.",
        "tags": [
          "Campaigns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Campaign title."
                  },
                  "from_name": {
                    "type": "string",
                    "description": "Sender's name."
                  },
                  "from_email": {
                    "type": "string",
                    "description": "Sender's email address."
                  },
                  "reply_to": {
                    "type": "string",
                    "description": "Reply-to email address."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Campaign subject line."
                  },
                  "html_text": {
                    "type": "string",
                    "description": "HTML content of the campaign."
                  },
                  "recepient_lists": {
                    "type": [
                      "array",
                      "object"
                    ],
                    "description": "Array of list IDs or an object with segments. See the example above for the segments format.",
                    "items": {}
                  }
                },
                "required": [
                  "title",
                  "from_name",
                  "from_email",
                  "reply_to",
                  "subject",
                  "html_text",
                  "recepient_lists"
                ]
              },
              "example": {
                "title": "Campaign title",
                "from_name": "Senders name",
                "from_email": "test@ecomailapp.cz",
                "reply_to": "test@ecomailapp.cz",
                "subject": "New campaign subject",
                "html_text": "HTML content of new campaign",
                "recepient_lists": [
                  1
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "title": {
                      "type": "string"
                    },
                    "from_name": {
                      "type": "string"
                    },
                    "from_email": {
                      "type": "string"
                    },
                    "reply_to": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    },
                    "recepient_lists": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "template_type": {
                      "type": "string"
                    },
                    "campaign_type": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": 712,
                  "title": "Campaign title",
                  "from_name": "Senders name",
                  "from_email": "test@ecomailapp.cz",
                  "reply_to": "test@ecomailapp.cz",
                  "subject": "New campaign subject",
                  "recepient_lists": [
                    1
                  ],
                  "template_type": "html",
                  "campaign_type": "email",
                  "updated_at": "2023-06-14T10:16:16.112614Z"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}": {
      "get": {
        "operationId": "campaignsGetDetail",
        "summary": "Get campaign detail",
        "description": "Returns detailed campaign information including statistics for sent campaigns.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "description": "Campaign ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "from_name": {
                      "type": "string"
                    },
                    "from_email": {
                      "type": "string"
                    },
                    "reply_to": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    },
                    "recepient_lists": {
                      "type": "object",
                      "properties": {
                        "segments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "list": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "sent_at": {
                      "type": "string"
                    },
                    "recipients": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "archive_url": {
                      "type": "string"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "inject": {
                          "type": "integer"
                        },
                        "send": {
                          "type": "integer"
                        },
                        "delivered": {
                          "type": "integer"
                        },
                        "open": {
                          "type": "integer"
                        },
                        "total_open": {
                          "type": "integer"
                        },
                        "click": {
                          "type": "integer"
                        },
                        "total_click": {
                          "type": "integer"
                        },
                        "hard_bounce": {
                          "type": "integer"
                        },
                        "spam": {
                          "type": "integer"
                        },
                        "unsub": {
                          "type": "integer"
                        },
                        "openrate": {
                          "type": "number"
                        },
                        "clickrate": {
                          "type": "number"
                        },
                        "delivery_rate": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "id": 1,
                  "from_name": "From name",
                  "from_email": "from@foo.cz",
                  "reply_to": "reply@bar.cz",
                  "title": "My first campaign",
                  "subject": "First hello",
                  "recepient_lists": {
                    "segments": [
                      {
                        "id": "segment_abc123",
                        "list": 1
                      }
                    ]
                  },
                  "sent_at": "2025-01-10 08:30:00",
                  "recipients": 100,
                  "status": 3,
                  "archive_url": "https://foo.ecomailapp.cz/campaigns/render/1/randomhashhere",
                  "stats": {
                    "inject": 100,
                    "send": 99,
                    "delivered": 99,
                    "open": 40,
                    "total_open": 45,
                    "click": 12,
                    "total_click": 15,
                    "hard_bounce": 1,
                    "spam": 0,
                    "unsub": 2,
                    "openrate": 40.4,
                    "clickrate": 12.12,
                    "delivery_rate": 99
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "campaignsUpdate",
        "summary": "Update campaign",
        "description": "Update an existing campaign.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "description": "Campaign ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Campaign title."
                  },
                  "from_name": {
                    "type": "string",
                    "description": "Sender's name."
                  },
                  "from_email": {
                    "type": "string",
                    "description": "Sender's email address."
                  },
                  "reply_to": {
                    "type": "string",
                    "description": "Reply-to email address."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Campaign subject line."
                  },
                  "html_text": {
                    "type": "string",
                    "description": "HTML content of the campaign."
                  },
                  "recepient_lists": {
                    "type": [
                      "array",
                      "object"
                    ],
                    "description": "Array of list IDs or an object with segments.",
                    "items": {}
                  }
                },
                "required": [
                  "title",
                  "from_name",
                  "from_email",
                  "reply_to",
                  "subject",
                  "html_text",
                  "recepient_lists"
                ]
              },
              "example": {
                "title": "Campaign title",
                "from_name": "Senders name",
                "from_email": "test@ecomailapp.cz",
                "reply_to": "test@ecomailapp.cz",
                "subject": "New campaign subject",
                "html_text": "HTML content of new campaign",
                "recepient_lists": [
                  1,
                  2
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "from_name": {
                      "type": "string"
                    },
                    "from_email": {
                      "type": "string"
                    },
                    "reply_to": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "archive_url": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": 1,
                  "from_name": "From name",
                  "from_email": "from@foo.cz",
                  "reply_to": "reply@bar.cz",
                  "title": "My first campaign",
                  "subject": "First hello",
                  "status": 0,
                  "archive_url": "https://foo.ecomailapp.cz/campaigns/render/1"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}/send": {
      "post": {
        "operationId": "campaignsSend",
        "summary": "Send campaign",
        "description": "Puts the campaign in the sending queue immediately.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "description": "Campaign ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "title": {
                        "type": "string"
                      },
                      "from_name": {
                        "type": "string"
                      },
                      "from_email": {
                        "type": "string"
                      },
                      "reply_to": {
                        "type": "string"
                      },
                      "subject": {
                        "type": "string"
                      },
                      "recepient_lists": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "template_type": {
                        "type": "string"
                      },
                      "campaign_type": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "title": "My first campaign",
                    "from_name": "From name",
                    "from_email": "from@foo.cz",
                    "reply_to": "reply@bar.cz",
                    "subject": "First hello",
                    "recepient_lists": [
                      1,
                      2
                    ],
                    "template_type": "html",
                    "campaign_type": "email"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}/send-test": {
      "post": {
        "operationId": "campaignsSendTest",
        "summary": "Send test campaign",
        "description": "Sends a test version of a draft campaign to up to 5 recipients.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "description": "Campaign ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "description": "Recipients of the test email. At least 1 and at most 5 email addresses.",
                    "items": {}
                  },
                  "merge": {
                    "type": "object",
                    "description": "Optional map of merge-tag values used to personalize the test email. Keys are merge-tag names, values are their replacements; empty values are ignored."
                  }
                },
                "required": [
                  "emails"
                ]
              },
              "example": {
                "emails": [
                  "test@foo.cz",
                  "qa@foo.cz"
                ],
                "merge": {
                  "first_name": "Foo"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign_id": {
                      "type": "integer"
                    },
                    "sent_emails_count": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "campaign_id": 1,
                  "sent_emails_count": 2
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "errors": [
                    "You can not do this because you have a blocked account"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "errors": [
                    "Only draft campaigns can be tested."
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "errors": {
                    "emails": [
                      "The emails field is required."
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "errors": [
                    "You have exceeded daily limit of sent test emails of 50."
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}/stats": {
      "get": {
        "operationId": "campaignsGetStats",
        "summary": "Get campaign stats",
        "description": "Returns aggregated statistics for a specific campaign.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "description": "Campaign ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stats": {
                      "type": "object",
                      "properties": {
                        "inject": {
                          "type": "integer"
                        },
                        "delivery": {
                          "type": "integer"
                        },
                        "delivery_rate": {
                          "type": "integer"
                        },
                        "open": {
                          "type": "integer"
                        },
                        "total_open": {
                          "type": "integer"
                        },
                        "open_rate": {
                          "type": "integer"
                        },
                        "click": {
                          "type": "integer"
                        },
                        "total_click": {
                          "type": "integer"
                        },
                        "click_rate": {
                          "type": "integer"
                        },
                        "bounce": {
                          "type": "integer"
                        },
                        "bounce_rate": {
                          "type": "integer"
                        },
                        "spam": {
                          "type": "integer"
                        },
                        "spam_rate": {
                          "type": "number"
                        },
                        "unsub": {
                          "type": "integer"
                        },
                        "unsub_rate": {
                          "type": "integer"
                        },
                        "conversions": {
                          "type": "integer"
                        },
                        "conversions_value": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "stats": {
                    "inject": 10,
                    "delivery": 10,
                    "delivery_rate": 97,
                    "open": 5,
                    "total_open": 10,
                    "open_rate": 10,
                    "click": 2,
                    "total_click": 4,
                    "click_rate": 4,
                    "bounce": 3,
                    "bounce_rate": 3,
                    "spam": 1,
                    "spam_rate": 0.01,
                    "unsub": 1,
                    "unsub_rate": 1,
                    "conversions": 0,
                    "conversions_value": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}/stats-detail": {
      "get": {
        "operationId": "campaignsGetStatsDetail",
        "summary": "Get campaign stats detail",
        "description": "Returns statistics for a specific campaign with each subscriber and their individual events.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Campaign ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": false,
            "description": "Filter by event type: `open`, `send`, `unsub`, `soft_bounce`, `click`, `hard_bounce`, `out_of_band`, `spam`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Filter by subscriber email.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "required": false,
            "description": "Filter from date onwards (`YYYY-MM-DD` in UTC).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page. Maximum and default is `100`.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_url": {
                      "type": "string"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "subscribers": {
                      "type": "object",
                      "properties": {
                        "foo@bar.com": {
                          "type": "object",
                          "properties": {
                            "open": {
                              "type": "integer"
                            },
                            "send": {
                              "type": "integer"
                            },
                            "unsub": {
                              "type": "integer"
                            },
                            "soft_bounce": {
                              "type": "integer"
                            },
                            "click": {
                              "type": "integer"
                            },
                            "hard_bounce": {
                              "type": "integer"
                            },
                            "out_of_band": {
                              "type": "integer"
                            },
                            "spam": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "next_page_url": "https://api2.ecomailapp.cz/campaigns/12345/stats-detail?page=2",
                  "total": 4256,
                  "per_page": 100,
                  "subscribers": {
                    "foo@bar.com": {
                      "open": 2,
                      "send": 1,
                      "unsub": 0,
                      "soft_bounce": 0,
                      "click": 1,
                      "hard_bounce": 0,
                      "out_of_band": 0,
                      "spam": 0
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/segment/{segmentId}/stats": {
      "get": {
        "operationId": "campaignsGetSegmentStats",
        "summary": "Get segment stats",
        "description": "Retrieves performance statistics for a specific segment across all campaigns it was sent to.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "segmentId",
            "in": "path",
            "required": true,
            "description": "Segment ID. Can be retrieved from the [Show list detail](/api-reference/lists/show) endpoint.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stats": {
                      "type": "object",
                      "properties": {
                        "810": {
                          "type": "object",
                          "properties": {
                            "bounce": {
                              "type": "integer"
                            },
                            "bounce_rate": {
                              "type": "integer"
                            },
                            "click": {
                              "type": "integer"
                            },
                            "click_rate": {
                              "type": "integer"
                            },
                            "conversions": {
                              "type": "integer"
                            },
                            "conversions_value": {
                              "type": "integer"
                            },
                            "delivery": {
                              "type": "integer"
                            },
                            "delivery_rate": {
                              "type": "integer"
                            },
                            "inject": {
                              "type": "integer"
                            },
                            "open": {
                              "type": "integer"
                            },
                            "open_rate": {
                              "type": "integer"
                            },
                            "spam": {
                              "type": "integer"
                            },
                            "spam_rate": {
                              "type": "integer"
                            },
                            "unsub": {
                              "type": "integer"
                            },
                            "unsub_rate": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "stats": {
                    "810": {
                      "bounce": 0,
                      "bounce_rate": 0,
                      "click": 3,
                      "click_rate": 75,
                      "conversions": 2,
                      "conversions_value": 2500,
                      "delivery": 4,
                      "delivery_rate": 100,
                      "inject": 4,
                      "open": 4,
                      "open_rate": 100,
                      "spam": 0,
                      "spam_rate": 0,
                      "unsub": 1,
                      "unsub_rate": 25
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaignId}/log": {
      "get": {
        "operationId": "campaignsGetLog",
        "summary": "Get campaign log",
        "description": "Search and browse the campaign log — sends, opens, clicks, bounces, unsubscribes, complaints, and other events. Filter by subscriber email, event types, and date range.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Filter by subscriber email address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "events[]",
            "in": "query",
            "required": false,
            "description": "Filter by event types. Can be specified multiple times. Possible values: `send`, `open`, `click`, `bounce`, `hard_bounce`, `soft_bounce`, `out_of_band`, `unsub`, `spam`, `spam_complaint`, `not_opened`, `not_clicked`, `open_no_click`, `sms_sent`, `sms_inv_nr`, `sms_accepted`, `whatsapp_sent`, `whatsapp_failed`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "description": "Filter events from this date (inclusive, ISO format e.g. `2025-01-01`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "description": "Filter events up to this date (inclusive, ISO format e.g. `2025-12-31`). Must be after `date_from` if provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results per page. Default `20`, maximum `100`.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Column to sort by. Possible values: `occured_at`, `id`, `event`. Default `occured_at`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "required": false,
            "description": "Sort direction. Possible values: `asc`, `desc`. Default `desc`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign_log": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "campaign_id": {
                            "type": "integer"
                          },
                          "autoresponder_id": {},
                          "action_id": {},
                          "event": {
                            "type": "string"
                          },
                          "msg": {},
                          "url": {},
                          "email": {
                            "type": "string"
                          },
                          "occured_at": {
                            "type": "string"
                          },
                          "mail_name": {}
                        }
                      }
                    },
                    "current_page": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "last_page": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "campaign_log": [
                    {
                      "id": 5678,
                      "campaign_id": 1,
                      "autoresponder_id": null,
                      "action_id": null,
                      "event": "open",
                      "msg": null,
                      "url": null,
                      "email": "foo@bar.cz",
                      "occured_at": "2025-03-15T14:30:00.000000Z",
                      "mail_name": null
                    },
                    {
                      "id": 5677,
                      "campaign_id": 1,
                      "autoresponder_id": null,
                      "action_id": null,
                      "event": "click",
                      "msg": null,
                      "url": "https://example.com/offer",
                      "email": "foo@bar.cz",
                      "occured_at": "2025-03-15T14:25:00.000000Z",
                      "mail_name": null
                    }
                  ],
                  "current_page": 1,
                  "per_page": 10,
                  "total": 2,
                  "last_page": 1
                }
              }
            }
          }
        }
      }
    },
    "/coupons/import": {
      "post": {
        "operationId": "couponsImport",
        "summary": "Import discount coupons",
        "description": "Import discount coupons into a default or specific folder.",
        "tags": [
          "Discount coupons"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "folderId": {
                    "type": "integer",
                    "description": "Folder ID. If not provided, coupons are imported into the default folder."
                  },
                  "codes": {
                    "type": "array",
                    "description": "Array of coupon code strings.",
                    "items": {}
                  },
                  "valid_until": {
                    "type": "string",
                    "description": "Expiration date in `YYYY-MM-DD` format."
                  },
                  "update_existing": {
                    "type": "boolean",
                    "description": "Update existing coupons if they already exist.",
                    "default": false
                  }
                },
                "required": [
                  "codes"
                ]
              },
              "example": {
                "folderId": 1,
                "codes": [
                  "kod1",
                  "kod2",
                  "kod3",
                  "kod4"
                ],
                "valid_until": "2025-12-31",
                "update_existing": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imported": {
                      "type": "integer"
                    },
                    "duplicated": {
                      "type": "integer"
                    },
                    "totalCount": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "imported": 4,
                  "duplicated": 0,
                  "totalCount": 4
                }
              }
            }
          }
        }
      }
    },
    "/coupons/delete": {
      "delete": {
        "operationId": "couponsDelete",
        "summary": "Delete discount coupons",
        "description": "Delete discount coupons from a default or specific folder.",
        "tags": [
          "Discount coupons"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "folderId": {
                    "type": "integer",
                    "description": "Folder ID. If not provided, coupons are deleted from the default folder."
                  },
                  "codes": {
                    "type": "array",
                    "description": "Array of coupon code strings to delete.",
                    "items": {}
                  }
                },
                "required": [
                  "codes"
                ]
              },
              "example": {
                "folderId": 1,
                "codes": [
                  "code1",
                  "code2",
                  "code3",
                  "code4"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "integer"
                    },
                    "invalid": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "deleted": 4,
                  "invalid": 0
                }
              }
            }
          }
        }
      }
    },
    "/domains": {
      "get": {
        "operationId": "domainsListAll",
        "summary": "List all domains",
        "description": "Retrieve all domains in your account.",
        "tags": [
          "Domains"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "valid": {
                        "type": "boolean"
                      },
                      "blocked": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "name": "foo.cz",
                    "valid": true,
                    "blocked": false
                  },
                  {
                    "name": "bar.cz",
                    "valid": false,
                    "blocked": false
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "operationId": "domainsCreate",
        "summary": "Create a new domain",
        "description": "Add a new domain to your account.",
        "tags": [
          "Domains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Domain name."
                  }
                },
                "required": [
                  "name"
                ]
              },
              "example": {
                "name": "newdomain.cz"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "valid": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "name": "newdomain.cz",
                  "valid": 0
                }
              }
            }
          }
        }
      }
    },
    "/domains/{domain}": {
      "delete": {
        "operationId": "domainsDelete",
        "summary": "Delete a domain",
        "description": "Remove a domain from your account.",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "Domain name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "valid": {
                      "type": "boolean"
                    },
                    "blocked": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "name": "foo.cz",
                  "valid": true,
                  "blocked": false
                }
              }
            }
          }
        }
      }
    },
    "/feeds/{feed_id}/refresh": {
      "get": {
        "operationId": "feedsRefreshProduct",
        "summary": "Refresh product feed",
        "description": "Trigger a refresh of a product feed.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "name": "feed_id",
            "in": "path",
            "required": true,
            "description": "ID of the product feed.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Your feed is being refreshed"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "errors": "Account must be marketer+ tariff"
                }
              }
            }
          }
        }
      }
    },
    "/data-feeds/{feed_id}/refresh": {
      "get": {
        "operationId": "feedsRefreshData",
        "summary": "Refresh data feed",
        "description": "Trigger a refresh of a data feed.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "name": "feed_id",
            "in": "path",
            "required": true,
            "description": "ID of the data feed.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Your feed is being refreshed"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "errors": "Account must be marketer+ tariff"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "errors": "Feed can be refreshed just once per hour"
                }
              }
            }
          }
        }
      }
    },
    "/lists": {
      "get": {
        "operationId": "listsListAll",
        "summary": "View all lists",
        "description": "Retrieve all subscriber lists in your account.",
        "tags": [
          "Lists"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "from_name": {
                        "type": "string"
                      },
                      "from_email": {
                        "type": "string"
                      },
                      "reply_to": {
                        "type": "string"
                      },
                      "sub_success_page": {},
                      "sub_confirmed_page": {},
                      "unsub_page": {},
                      "double_optin": {},
                      "conf_subject": {},
                      "conf_message": {}
                    }
                  }
                },
                "example": [
                  {
                    "id": 29,
                    "name": "New list name",
                    "from_name": "Ecomailapp.cz",
                    "from_email": "test@ecomailapp.cz",
                    "reply_to": "support@ecomail.cz",
                    "sub_success_page": null,
                    "sub_confirmed_page": null,
                    "unsub_page": null,
                    "double_optin": null,
                    "conf_subject": null,
                    "conf_message": null
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "operationId": "listsAddNew",
        "summary": "Add new list",
        "description": "Create a new subscriber list in your account.",
        "tags": [
          "Lists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "List name."
                  },
                  "from_name": {
                    "type": "string",
                    "description": "Sender name used in emails sent from this list."
                  },
                  "from_email": {
                    "type": "string",
                    "description": "Sender email address used in emails sent from this list."
                  },
                  "reply_to": {
                    "type": "string",
                    "description": "Reply-to email address."
                  },
                  "sub_success_page": {
                    "type": "string",
                    "description": "URL to redirect to after submitting a sign-up form."
                  },
                  "sub_confirmed_page": {
                    "type": "string",
                    "description": "URL to redirect to after confirming a sign-up email."
                  },
                  "unsub_page": {
                    "type": "string",
                    "description": "URL to redirect to after unsubscribing from the list."
                  },
                  "double_optin": {
                    "type": "boolean",
                    "description": "Whether sign-up confirmation (double opt-in) is required."
                  },
                  "conf_subject": {
                    "type": "string",
                    "description": "Subject line of the confirmation email."
                  },
                  "conf_message": {
                    "type": "string",
                    "description": "HTML content of the confirmation email."
                  }
                },
                "required": [
                  "name"
                ]
              },
              "example": {
                "name": "New list name",
                "from_name": "Ecomailapp.cz",
                "from_email": "test@ecomailapp.cz",
                "reply_to": "support@ecomail.cz"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "name": "New list name",
                  "id": 2
                }
              }
            }
          }
        }
      }
    },
    "/lists/{list_id}": {
      "get": {
        "operationId": "listsShow",
        "summary": "Show list detail",
        "description": "Retrieve detailed information about a specific list, including custom fields, groups, segments, and subscriber counts.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "from_name": {
                          "type": "string"
                        },
                        "from_email": {
                          "type": "string"
                        },
                        "reply_to": {
                          "type": "string"
                        },
                        "sub_success_page": {},
                        "sub_confirmed_page": {
                          "type": "string"
                        },
                        "unsub_page": {},
                        "double_optin": {
                          "type": "boolean"
                        },
                        "conf_subject": {
                          "type": "string"
                        },
                        "conf_message": {
                          "type": "string"
                        },
                        "custom_fields": {
                          "type": "object",
                          "properties": {
                            "date1": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              }
                            },
                            "size": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "groups": {
                          "type": "object",
                          "properties": {
                            "grp_5e83080ebb988": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "category": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "segments": {
                          "type": "object",
                          "properties": {
                            "5c36008811e45": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "active_subscribers": {
                          "type": "integer"
                        },
                        "created": {
                          "type": "string"
                        }
                      }
                    },
                    "subscribers": {
                      "type": "object",
                      "properties": {
                        "unknown": {
                          "type": "integer"
                        },
                        "subscribed": {
                          "type": "integer"
                        },
                        "unsubscribed": {
                          "type": "integer"
                        },
                        "soft_bounced": {
                          "type": "integer"
                        },
                        "hard_bounced": {
                          "type": "integer"
                        },
                        "complained": {
                          "type": "integer"
                        },
                        "unconfirmed": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "list": {
                    "id": "1",
                    "name": "List Name",
                    "from_name": "Sender Name",
                    "from_email": "sender@example.com",
                    "reply_to": "reply@example.com",
                    "sub_success_page": null,
                    "sub_confirmed_page": "https://www.example.com/confirm?email=*|EMAIL|*",
                    "unsub_page": null,
                    "double_optin": true,
                    "conf_subject": "Confirmation Subject",
                    "conf_message": "Please confirm your subscription: *|SUBCONFIRM|*",
                    "custom_fields": {
                      "date1": {
                        "type": "string",
                        "name": "Date Field"
                      },
                      "size": {
                        "type": "int",
                        "name": "Size Field"
                      }
                    },
                    "groups": {
                      "grp_5e83080ebb988": {
                        "name": "Group 1",
                        "category": [
                          {
                            "name": "Category A",
                            "id": "plnQNPzCz"
                          }
                        ],
                        "id": "grp_1",
                        "type": "select"
                      }
                    },
                    "segments": {
                      "5c36008811e45": {
                        "name": "Segment 1",
                        "id": "5c36008811e45"
                      }
                    },
                    "active_subscribers": 100,
                    "created": "26.6.2018"
                  },
                  "subscribers": {
                    "unknown": 0,
                    "subscribed": 375,
                    "unsubscribed": 143,
                    "soft_bounced": 9,
                    "hard_bounced": 11,
                    "complained": 1,
                    "unconfirmed": 25
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "listsUpdate",
        "summary": "Update list",
        "description": "Update an existing subscriber list.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "List name."
                  },
                  "from_name": {
                    "type": "string",
                    "description": "Sender name used in emails sent from this list."
                  },
                  "from_email": {
                    "type": "string",
                    "description": "Sender email address used in emails sent from this list."
                  },
                  "reply_to": {
                    "type": "string",
                    "description": "Reply-to email address."
                  },
                  "sub_success_page": {
                    "type": "string",
                    "description": "URL to redirect to after submitting a sign-up form."
                  },
                  "sub_confirmed_page": {
                    "type": "string",
                    "description": "URL to redirect to after confirming a sign-up email."
                  },
                  "unsub_page": {
                    "type": "string",
                    "description": "URL to redirect to after unsubscribing from the list."
                  },
                  "double_optin": {
                    "type": "boolean",
                    "description": "Whether sign-up confirmation (double opt-in) is required."
                  },
                  "conf_subject": {
                    "type": "string",
                    "description": "Subject line of the confirmation email."
                  },
                  "conf_message": {
                    "type": "string",
                    "description": "HTML content of the confirmation email."
                  }
                },
                "required": [
                  "name"
                ]
              },
              "example": {
                "name": "Updated name",
                "from_name": "Ecomailapp.cz",
                "from_email": "test@ecomailapp.cz",
                "reply_to": "support@ecomail.cz"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "from_name": {
                      "type": "string"
                    },
                    "from_email": {
                      "type": "string"
                    },
                    "reply_to": {
                      "type": "string"
                    },
                    "sub_success_page": {},
                    "sub_confirmed_page": {},
                    "unsub_page": {},
                    "double_optin": {},
                    "conf_subject": {},
                    "conf_message": {}
                  }
                },
                "example": {
                  "id": 2,
                  "name": "Updated name",
                  "from_name": "Ecomailapp.cz",
                  "from_email": "test@ecomailapp.cz",
                  "reply_to": "support@ecomail.cz",
                  "sub_success_page": null,
                  "sub_confirmed_page": null,
                  "unsub_page": null,
                  "double_optin": null,
                  "conf_subject": null,
                  "conf_message": null
                }
              }
            }
          }
        }
      }
    },
    "/lists/{list_id}/segments": {
      "get": {
        "operationId": "listsGetSegments",
        "summary": "Get segments",
        "description": "Retrieve all segments created in a specific list.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "segments": {
                      "type": "object",
                      "properties": {
                        "5c36008811e45": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "id": {
                              "type": "string"
                            },
                            "count": {
                              "type": "integer"
                            }
                          }
                        },
                        "5cbf2405a77ce": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "id": {
                              "type": "string"
                            },
                            "count": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "segments": {
                    "5c36008811e45": {
                      "name": "Segment 1",
                      "id": "5c36008811e45",
                      "count": 860
                    },
                    "5cbf2405a77ce": {
                      "name": "Segment 2",
                      "id": "5cbf2405a77ce",
                      "count": 540
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Not Found!"
                }
              }
            }
          }
        }
      }
    },
    "/lists/{list_id}/subscribers": {
      "get": {
        "operationId": "listsGetSubscribers",
        "summary": "Get subscribers",
        "description": "Retrieve a paginated list of subscribers from a specific list.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "ID of the list.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page index.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by status: `unsubscribed`, `not_confirmed`, `bounced`, `complained`.",
            "schema": {
              "type": "string",
              "default": "subscribed"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of subscribers per page, up to 5000. We recommend keeping this at a lower number (e.g. 4000) depending on the amount of data each subscriber has.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "list_id": {
                            "type": "integer"
                          },
                          "email": {
                            "type": "string"
                          },
                          "status": {
                            "type": "integer"
                          },
                          "subscribed_at": {
                            "type": "string"
                          },
                          "unsubscribed_at": {},
                          "custom_fields": {
                            "type": "array",
                            "items": {}
                          },
                          "groups": {},
                          "source": {
                            "type": "string"
                          },
                          "subscriber": {
                            "type": "object",
                            "properties": {
                              "id": {
[...]
